# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Output folders
output/
output1/
output.old/
test-data/
papers/
debug/
output*/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and local runtime files
*.log
*.tmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python virtual environments
venv/
.env/
.venv/

# macOS / Windows / Linux system files
.DS_Store
Thumbs.db

.env
trial_analysis_notes.docx
